<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    {% include "navbar.html" %}
  {% if user %}
    <form class="job-form" action="/jobs" method="post">
      <h4>new job</h4>
      <div class="form-control">
        <div class="company-field">
          <label for="company">Company</label>
          <input
            type="text"
            id="company"
            name="company"
            class="job-input"
            placeholder="company"
          />
        </div>
        <div class="position-field">
          <label for="position">Position</label>
          <input
            type="text"
            id="position"
            name="position"
            class="job-input"
            placeholder="position"
          />
        </div>
        <button type="submit" class="btn submit-btn">submit</button>
      </div>
    </form>
  {% if jobs %}
  <div class="single-jobs">
    {%for job in jobs %}
      <div class="single-job">
        <p class="date">{{job.createdAt}}</p>
        <div class="job-info">
          <p class="position">{{job.position}}</p>
          <p class="company">{{job.company}}</p>
        </div>
        <div class="bottom">
          <div class="left">
            <a href="/jobs/{{job._id}}" class="edit" data-id="{{job._id}}">Edit</a>
            <a class="delete" data-id="{{job._id}}">Delete</a>
          </div>
          <p class="status">{{job.status}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-jobs">You have no jobs to display</p>
  {% endif %}
  {% else %}
    <div>hello</div>
  {% endif %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const dateTags = document.querySelectorAll('.single-job .date')
      dateTags.forEach((tag) => {
        const createdAt = tag.innerText;
        const month = (new Date(createdAt).getMonth() + 1 < 10) ? `0${new Date(createdAt).getMonth() + 1}` : new Date(createdAt).getMonth() + 1
        const date = (new Date(createdAt).getDate() < 10) ? `0${new Date(createdAt).getDate()}` : new Date(createdAt).getDate()
        tag.innerText = `${month}.${date} ${new Date(createdAt).getFullYear()}`
      })

      const deleteBtn = document.querySelectorAll('.single-job .delete')
      deleteBtn.forEach(btn => {
        btn.addEventListener('click', (e) => {
          const id = (e.target.dataset.id);
          if (confirm(`게시글을 삭제하시겠습니까?`)) {
            axios({
              method: 'delete',
              url: `/jobs/${id}`
            })
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
          }
        })
      }); 
    </script>
  </body>
</html>