
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/" class="logo">Jobs-App</a>
    {% if main %}
      <div class="right">
      {% if user %}
        <p>Hello, {{user.name}}</p>
        <a class="btn" href="/auth/logout">Logout</a>
      {% else %}
        <a class="btn" href="/login">Login</a>
      {% endif %}
      </div>
    {% endif %}
    </div>
  </body>
  <script>
  </script>
</html>
