<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    {% include "navbar.html" %}
    <form class="register-form">
      <h4>register</h4>
      <div class="form-control">
        <div class="name-field">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="register-input"
            placeholder="name"
            id="name"
            required
          />
        </div>
        <div class="email-field">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="register-input"
            placeholder="email"
            id="email"
            required
          />
        </div>
        <div class="password-field">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="register-input"
            placeholder="password"
            id="password"
            required
          />
        </div>
        <button type="submit" class="btn submit-btn">submit</button>
      </div>
      <div class="login">
        <span>Already a member?</span>
        <a href="/login">Login</a>
      </div>
      <div class="form-alert"></div>
    </form>
    <section class="tasks-container">
      <p class="loading-text">Loading...</p>
      <div class="tasks"></div>
    </section>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const registerForm = document.querySelector('.register-form');
      registerForm.addEventListener('submit', (e) => {
        e.preventDefault()
        const name = registerForm.querySelector('#name').value
        const email = registerForm.querySelector('#email').value
        const password = registerForm.querySelector('#password').value
        axios({
          method: 'post',
          url: `/auth/register`,
          data: {
            name, 
            email, 
            password
          }
        })
        .then((res) => {
          if (res.data.message) {
            alert(res.data.message);
            registerForm.querySelectorAll('input').forEach((input) => {
              input.value = ''
            })
          } else {
            location.replace('/login')
          }
        })
        .catch((err) => {
          console.error(err);
        });
      })
    </script>
  </body>
</html>
