<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    {% include "navbar.html" %}
    <!-- 로그인 user 있을 때 -->
    <form class="job-form update" data-id="{{job._id}}">
      <h4>update job</h4>
      <div class="form-control">
        <div class="company-field">
          <label for="company">Company</label>
          <input
            type="text"
            id="company"
            class="job-input"
            value={{job.company}}
          />
        </div>
        <div class="position-field">
          <label for="position">Position</label>
          <input
            type="text"
            id="position"
            class="job-input"
            value={{job.position}}
          />
        </div>
        <div class="status-field" data-status="{{job.status}}">
          <label for="status">Status</label>
          <div class="status-radios">
            <div>
              <input
              type="radio"
              id="pending"
              value="pending"
              name="status"
              />
              <label for="pending">pending</label>
            </div>
            <div>
              <input
              type="radio"
              id="interview"
              value="interview"
              name="status"
              />
              <label for="interview">interview</label>
            </div>
            <div>
              <input
              type="radio"
              id="declined"
              value="declined"
              name="status"
              />
              <label for="declined">declined</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn submit-btn">edit</button>
      </div>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const statusTag = document.querySelector('.status-field');
      const statusInputs = document.querySelectorAll('.status-field input')
      const status = statusTag.dataset.status;
      statusInputs.forEach((input) => {
        if (input.value === status) {
          input.checked = true
        }
      })

      const updateForm = document.querySelector('.job-form.update');
      updateForm.addEventListener('submit', (e) => {
        e.preventDefault()
        const id = (e.target.dataset.id);
        const company = updateForm.querySelector('#company').value
        const position = updateForm.querySelector('#position').value
        const status = updateForm.querySelector('.status-field')
        console.log(status)
        // axios({
        //     method: 'patch',
        //     url: `/jobs/${id}`,
        //     company, 
        //     position, 
        //     status
        //   })
        //   .then(() => {
        //     location.replace('/');
        //   })
        //   .catch((err) => {
        //     console.error(err);
        //   });
      })
    </script>
  </body>
</html>